@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

p {
  font-family: 'Montserrat', sans-serif;
}
.nav-link {
  font-family: 'Poppins', sans-serif;
}

.HeroImg{
  background-image: url(../src/assets/heroimg.png);
}
.Missionimg{
  background-image: url(../src/assets/heroimg.png);
}
.Valueimg{
  background-image: url(../src/assets/heroimg.png);
}
.Visionimg{
  background-image: url(../src/assets/heroimg.png);
}
.conback{
  background-image: url(/assets/backgroundcon.png);
}
.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1000px;
  }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
   
  }
}
